<%= form_with model: @category, url: categories_path, method: :post do |f| %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>

  <%= f.submit :submit %><br />

<% end %>